body {
  margin: 0;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wrapper{
    position: absolute;
    width: 1080px;
    height: 3000px;
    background: #FFFFFF;
}

header{
    display: flex;
    justify-content: space-between;
}

.headerLogo {
    position: absolute;
    left: 353px;
    top: 98px;
}

.ytyata {
    position: absolute;
    left: 46px;
    top: 2123px;
}
